<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>Tentang Kami</h2>
                <p>
                    Smart Eye is a leading provider of information technology, consulting, and business process services. Our dedicated employees offer strategic insights, technological expertise and industry experience.
                </p>
                <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">Tentang Kami</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">Kegiatan</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">Layanan</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">Galeri</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Hubungi Kami</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Hubungi Kami</h2>
                <address class="md-margin-bottom-40">
                    GUNUNG AGUNG<br>
                    ARGA MAKMUR <br>
                    BENGKULU UTARA, 38611 <br>
                    Phone: 083110442242 <br>
                    Email: <a href="mailto:admin@pcnubengkuluutara.org" class="">admin@pcnubengkuluutara.org</a><br>
                    Web: <a href="index.html" class="">pcnubengkuluutara.org</a>
                </address>

            </div>
        </div>
        
        
        <div class="nav-box row clearfix">
            <div class="inner col-md-9 clearfix">
                <ul class="footer-nav clearfix">
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Layanan</a></li>
                    <li><a href="#">Artikel</a></li>
                    <li><a href="#">Hubungi Kami</a></li>
                </ul>

              
            </div>
              <div class="donate-link col-md-3"><a href="donate.html" class="btn btn-primary "><span class="btn-title">Donasi Sekarang</span></a></div>
        </div>
        
    </div>
    

</footer>